.centerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../src/components/Sidebar/tlo.png');
  background-size: cover;
  height: 100vh;
  color: white;
}

.whiteWritings{
  text-align: center;
  color: white;
}
.slideBarContainer{
  background-image: url('../src/components/Sidebar/tlo.png');
  background-size: cover;
  background-position: left; 
  height: 100vh;
  padding: 10px;
  width: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  margin-right: 10vh;
}
.grayTable{
  background-color: gray;
}
.grayTable th, .grayTable td {
  border-color: grey; 
  
}
.inputSearch{
margin-top: 20px;
max-width: 350px;
border: 3px solid gray;
border-radius: 10px;
}
.loginDiv{
  margin-top: 40px;
  border-color:white;
  border: 2px solid white;
  border-radius: 10px;
  width: 30vw;
  padding: 5px;
  padding-left: 20px;
}
.passwordDiv{
  margin-top: 20px;
  border-color:white;
  border: 2px solid white;
  border-radius: 10px;
  width: 30vw;
  padding: 5px;
  padding-left: 20px;
}
.input
{
  border-color:transparent;
  background: transparent;
  margin-left: 20px;
  color: white;
  width: 85%;
}
.input:focus {
  outline: none; 
  border-color: none; 
}
::placeholder {
  color: white;
  font-size: 15px;
}
.button{
  width: 30vw;
  margin-top: 50px;
}
.selected-row {
  background-color: grey; 
}

.table-container {
  margin-top: 10px;
}

.overflow-container {
  max-height: 400px; 
  overflow-y: auto;
}
.overflow-container2 {
  max-height: 430px; 
  overflow-y: auto;
}

.custom-table {
  border-collapse: collapse;
  width: 100%;
}

.custom-table th,
.custom-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.custom-table thead th {
  position: sticky;
  top: 0;
  background-color: #fff; 
}

.custom-table tbody tr {
  cursor: pointer;
}

.custom-table tbody tr:hover {
  background-color: #f2f2f2;
}

.commission-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commission-details-row {
  display: flex;
  justify-content: space-between; 
  width: 100%;
  padding-right:62px ;
}

.IdCommission{
  margin-top: -42px;
  margin-bottom: 50px;
}

.description{
  background-color: #f2f2f2;
  width: 95%;
  margin-right: 60px;
  height: 400px;
}

.invoice-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.invoice-button {
  background-color: #6da6cb;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 130px;
}

.invoice-button:hover {
  background-color: #2980b9;
}

.invoice-button + .invoice-button {
  margin-left: 10px;
}

/* InvoiceStyles.css */

.invoice-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 730px;
  margin: auto;
  margin-top: 10px;
}

.invoice-title {
  text-align: center;
  margin-bottom: 20px;
}

.invoice-type {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.invoice-button2 {
  padding: 10px 5px;
  background-color: #6da6cb;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin: 10px;
  width: 150px;
}

.invoice-button2:hover {
  background-color: #2980b9;
}

.generated-html-container {
  margin-top: 50px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.generated-html-container h3 {
  font-size: 18px;
  margin-bottom: 25px;
}

.generated-html-container div {
  font-family: 'Courier New', monospace;
}

