.centerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../src/components/Sidebar/tlo.png');
  background-size: cover;
  background-repeat: repeat-y;
  height: 100vh;
  color: white;
}

.whiteWritings{
  text-align: center;
  color: white;
}
.slideBarContainer {
  background: linear-gradient(to right, #560101, #141414);
  height: 100vh;
  padding: 20px;
  width: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 10vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.slideBarContainer h4 {
  text-align: center;
  margin-bottom: 20px;
  color: white; 
}

.slideBarContainer Button {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  text-align: left;
  border-radius: 5px;
  color: white;
  background: none; 
  border: none; 
  transition: background-color 0.3s;
}

.slideBarContainer Button:hover {
  background-color:white; 
}
.slideBarContainer a {
  text-decoration: none; 
}

.icon {
  margin-right: 10px;
}
.slideBarContainer .icon {
  transition: transform 0.3s ease-in-out;
}

.slideBarContainer Button:hover .icon {
  animation: shake 0.5s;
}

@keyframes shake {
  0%, 100% {
    transform: scale(1) rotate(0deg);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: scale(1.3) rotate(-5deg);
  }
  20%, 40%, 60%, 80% {
    transform: scale(1.3) rotate(5deg);
  }
}

.inputSearch{
margin-top: 20px;
max-width: 350px;
border: 3px solid gray;
border-radius: 10px;
}
::placeholder {
  font-size: 15px;
}
.selected-row {
  background-color: grey; 
}

.table-container {
  margin-top: 10px;
}

.overflow-container {
  max-height: 400px; 
  overflow-y: auto;
}
.overflow-container2 {
  max-height: 430px; 
  overflow-y: auto;
}

.overflow-container3 {
  max-height: 570px; 
  overflow-y: auto;
}

.overflow-container4 {
  max-height: 550px; 
  overflow-y: auto;
  width: 1258px;
}

.custom-table {
  border-collapse: collapse;
  width: 100%;
}

.custom-table th,
.custom-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.custom-table thead th {
  position: sticky;
  top: 0;
  background-color: #fff; 
}

.custom-table tbody tr {
  cursor: pointer;
}

.custom-table tbody tr:hover {
  background-color: #f2f2f2;
}

.commission-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commission-details-row {
  display: flex;
  justify-content: space-between; 
  width: 100%;
  padding-right:62px ;
}

.IdCommission{
  margin-top: -42px;
  margin-bottom: 50px;
}

.description{
  background-color: #f2f2f2;
  width: 95%;
  margin-right: 60px;
  height: 400px;
}

.invoice-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.invoice-button {
  background-color: #6da6cb;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 130px;
}

.invoice-button:hover {
  background-color: #2980b9;
}

.invoice-button + .invoice-button {
  margin-left: 10px;
}


.invoice-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 730px;
  margin: auto;
  margin-top: 10px;
}

.parametrsView
{
  max-width: 400px;
}

.invoice-title {
  text-align: center;
  margin-bottom: 20px;
}

.invoice-type {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.invoice-button2 {
  padding: 10px 5px;
  background-color: #6da6cb;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin: 10px;
  width: 150px;
}

.invoice-button2:hover {
  background-color: #2980b9;
}

.generated-html-container {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.generated-html-container h3 {
  font-size: 18px;
  margin-bottom: 25px;
}

.generated-html-container div {
  font-family: 'Courier New', monospace;
}

.invoice-title-div {
  margin-top: -50px;
}

.invoice-title-div {
  margin-top: -50px;
}

.logoutButton {
  border: 2px solid white !important;
  width: 100% !important;
  text-align: center ;
  justify-content: center;
  margin-top: 230px;
}

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #141414, #560101);
}

.loginContent {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 500px;
}

.loginDiv,
.passwordDiv {
  display: flex;
  align-items: center;
  border: 2px solid #141414;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px; 
}

.loginDiv img,
.passwordDiv img {
  margin-right: 10px;
}

.input {
  border: none;
  background: transparent;
  color: #141414;
  width: 100%; 
  padding: 8px; 
  margin-left: 10px; 
}

.input:focus {
  outline: none;
  border-color: none;
}

.button4 {
  width: 100% !important;
  margin-top: 20px;
  background-color: #8B0000 !important; 
  color: #fff !important;
  border: none !important;
  border-radius: 5px !important;
  padding: 10px !important;
  cursor: pointer;
}

.smaller-error {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
